<template>
  <tr>
      <td> {{ user.id }}</td>
      <td> {{ user.name }}</td>
      <td> {{ user.address }}</td>
      <td> {{ user.email }}</td>
      <td> {{ user.age }}</td>
      <td></td>
  </tr>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import UserInterface from '@/models/UserInterface';
import User from '@/models/User';

@Component
export default class Entry extends Vue {
    @Prop()
    user!: User;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
