<template>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <Entry v-for="user in $store.getters.users" :key="user.id" :user="user" />
    </tbody>
  </table>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Entry from './Entry.vue';
import UsersRepository from '../repositories/UsersRepository';

@Component({
  components: {
    Entry
  }
})
export default class Table extends Vue {
  
  created() {
    this.$store.dispatch("GET_USERS");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
